{% extends 'base.html' %}

{% block title %}Authorize{% endblock %}

{% block metadata %}
	{% if not request.args.get('error') %}
		<meta http-equiv="refresh" content="0; url={{url_for('index')}}">
	{% endif %}
{% endblock %}

{% block content %}
	{% if request.args.get('error') %}
		<h4>Error</h4>
		<p>{{ "Access Denied" if request.args.get('error') == "access_denied" else request.args.get('error')}}</p>
	{% else %}
		<p>Redirecting... If the page does not refresh, click <a href="{{ url_for('index') }}">here</a>.</p>
	{% endif %}
{% endblock %}