{% extends 'base.html' %}

{% block title %}Authorize{% endblock %}

{% block metadata %}
	{% if not request.args.get('error') %}
		<meta http-equiv="refresh" content="0; url={{url_for('index')}}">
	{% endif %}
{% endblock %}

{% block content %}
	{% if request.args.get('error') %}
		<h4>Error</h4>
		<p>{{ "Access Denied" if request.args.get('error') == "access_denied" else request.args.get('error')}}</p>
	{% else %}
		<p>Loading saves data... If the page does not refresh in <span id="time"></span> seconds, click <a href="{{ url_for('index') }}">here</a>.</p>
		<script type="text/javascript">
			function startTimer(duration, display) {
			    var timer = duration, seconds;
			    setInterval(function () {
			        seconds = parseInt(timer % 60, 10);

			        display.textContent = seconds;

			        if (--timer < 0) {
			            timer = duration;
			        }
			    }, 1000);
			}

			window.onload = function () {
			    startTimer(20, document.querySelector('#time'));
			};
		</script>
	{% endif %}
{% endblock %}