{% extends 'base.html' %}

{% block title %}Saves{% endblock %}

{% block content %}
	<h2>Hi, u/{{ reddit.user.me() }}</h2>

	<form action="{{ url_for('index') }}">
		<label>Sort by subreddit:</label>
		<input list="subreddits" name="subreddit">
		<datalist id="subreddits">
			{% for subreddit in app.subreddits %}
				<option value='{{ subreddit }}' >{{ subreddit }}</option>
			{% endfor %}
		</datalist>
		<br>
		<label>Search content:</label>
		<input type="text" name="search" {%if request.args.get('search')%}value="{{request.args.get('search') }}"{%endif%}>
		<br>
		<input type="submit" value="Go">
	</form>

	<ul>
		{% for i in display_list %}
			<li>
				[{{"Post" if isinstance(i, Submission) else "Comment"}}]
				<b>r/{{i.subreddit}}</b>
				<a target="_blank" href="https://reddit.com{{i.permalink}}"><i class="fa fa-external-link"></i></a><br>
				&emsp;{{ (i.title[0:100]+("..." if len(i.title) > 100 else "")) if isinstance(i, Submission) else (i.body[0:100]+("..." if len(i.body) > 100 else "")) }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}