{% extends 'base.html' %}

{% block title %}{{ "Saves" if reddit.user.me() else "Please Authorize" }}{% endblock %}

{% block content %}
	{% if reddit.user.me() %}
		<h2>Hi, u/{{ reddit.user.me() }}</h2>
		<ul>
		{% for i in sort_by_subreddit("AskReddit") %}
			<li>
				<b>r/{{i.subreddit}}</b>
				[{{"Post" if isinstance(i, Submission) else "Comment"}}]
				<a target="_blank" href="https://reddit.com{{i.permalink}}"><i class="fa fa-external-link"></i></a><br>
				{{ (i.title[0:100]+("..." if len(i.title) > 100 else "")) if isinstance(i, Submission) else (i.body[0:100]+("..." if len(i.body) > 100 else "")) }}
			</li>
		{% endfor %}
		</ul>	
	{% else %}
		You are not logged in to Reddit. Click <a href="{{ authurl }}">here</a> to authorize account access.
	{% endif %}
{% endblock %}